<!DOCTYPE html>
<html style="background-color: rgb(226, 199, 140)" id="background">

  <head>
    <title>BobaWay</title>
    <link rel="stylesheet" href="./static/styles/bobaway.css">
      <link rel="icon" type="image/x-icon" href="./static/img/flav/flav_8.png" class="favicon">
  <link rel="apple-touch-icon" sizes="128x128" href="./static/img/flav/flav_8.png" class="favicon">
  <meta property="og:image" content="./static/img/flav/flav_8.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:description" content="Easily translate English to Taiwanese!">
  </head>

  <body class="body-pad" onload="setColors()">
    <textarea id="play" style="display: none">{{play}}</textarea>
    <textarea id="file_count" style="display: none">{{file_count}}</textarea>
    <textarea id="key" style="display: none">{{key}}</textarea>
    <div style="display: flex; flex-direction: column">
      <div style="display: flex; flex: 1" class="bottom">
        <a href="https://bobaway.org/" style="display: flex; flex: 6">
          <h1 id="title">
            BobaWay
          </h1>
        </a>
        <div style="display: flex; flex-direction: row">
          <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(0)" onclick="keyboards()">
            <h3>
              Keyboards
            </h3>
          </button>
          <form action="{{ url_for("gfg")}}" method="post">
          <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(1)" type="submit">
              <h3>
                About
              </h3>
              <textarea id="path1" name="path" style="display: none">3</textarea>
          </button>
              </form>
          <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(2)">
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDR9Uki-ei757OyyAjvf-wzQFnhPuK3R4r0CKqUdoyXTgFX8I6DxVnCewjoWFyKN9rVjp7kyHIgJ9w/pubhtml?gid=0&single=true" target="_blank">
              <h3>
                Feedback
              </h3>
            </a>
          </button>
          <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(3)">
            <a href="https://paypal.me/taliyah0x0" target="_blank">
              <h3>
                Donate
              </h3>
            </a>
          </button>
        </div>
      </div>
      <div id="keyboards">
        <form target="popup" action="{{ url_for("gfg")}}" method="post" id="main-form">
        <button class="menu-button keyboard-button" type="submit">
          <h3>
            Tai-Ping
          </h3>
        </button>
        <textarea id="path1" name="path" style="display: none">7</textarea>
      </form>
      <form target="popup" action="{{ url_for("gfg")}}" method="post" id="main-form">
        <button class="menu-button keyboard-button" type="submit">
          <h3>
            Typewanese
          </h3>
        </button>
        <textarea id="path1" name="path" style="display: none">8</textarea>
      </form>
    </div>
      <form action="{{ url_for("gfg")}}" method="post" id="main-form">
        <div style="flex-direction: column; flex: 7">
          <div style="display: flex; flex-direction: row; flex: 1">
            <div style="display: flex; flex: 1; margin-bottom: 2vmin">
              <div style="display: inline-block; position: relative">
                <textarea class="text-box large-box" name="en" id="en" placeholder="Enter English...">{{en}}</textarea>
                <textarea id="color" name="color" style="display: none">{{color}}</textarea>
                <textarea id="path" name="path" style="display: none">0</textarea>
                <p class="info"></p>
                <button class="nothing blank-button" onmouseover="pencilOn(0)" onmouseout="pencilOut(0)" type="button">
                <h3 class="pencil" onclick="document.getElementById('en').innerHTML = ''; document.getElementById('en').innerHTML = ''; document.getElementById('en').focus();">Clear</h3></button>
                <div class="submit-shadow submit-bt"></div>
                <button class="submit-button submit-bt" onmouseover="submitMOV(0)" onmouseout="submitMOU(0)" type="submit" onclick="submitButton(0)">
                  <h3 class="submit-text">Submit</h3>
                </button>
                <div class="callout" style="display: none">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
                  <div class="callout-container">
                    <h3>Help me keep BobaWay running!</h3>
                    <p>
                      I need your generous support to help me pay for the cloud API this service uses. Please donate <a href="https://paypal.me/taliyah0x0" target="_blank">here</a>. Thank you for your contribution to spreading Taiwanese!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div style="flex: 1; position: relative;" class="comp-inline">
              <div class="drink-straw drink-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
              <div class="drink-straw"></div>
              <div class="drink drink-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
              <div class="drink"></div>
              <div class="drink-box" onmouseover="drinkMOV()" onmouseout="drinkMOU()" onclick="changeFlavor()">
                <p class="flavor-text">
                  Brown Sugar Milk Tea
                </p>
              </div>
            </div>
            <div style="flex: 1; position: relative;" class="comp-inline">
              <div class="speech-button speech-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
              <div class="speech-button" onmouseover="speechMOV()" onmouseout="speechMOU()" onclick="playSound(`{{hour}}`, {{key}} , 0)">
                <p style="font-size: 1.5vw; margin-bottom: 2vh; font-family: Choko">Play Audio</p>
                <img src="./static/img/audio.png" style="display: block; width: 5vw; height: 5vw; margin-left: auto; margin-right: auto; margin-top: 0">
              </div>
              <div class="slider-box">
                <input type="range" min="1" max="15" value="5" class="slider" onchange="update(0)">
                <h3 class="speed" style="display: flex; flex: 1; margin-top: 1vmin">1x</h3>
              </div>
            </div>
            <div style="flex: 1; position: relative" class="comp-inline">
              <div class="straw" style="width: 16vw; height: 6vw; left: 0.5vw; bottom: 9vw; border-radius: 2vw 6vw 0 2vw">
              </div>
              <div class="straw" style="width: 6vw; height: 14vw; border-radius: 0 6vw 2vw 2vw; bottom: 1vw; left: 11vw;">
              </div>
              <div id="bobatr" style="position: absolute; width: 4vw; height: 6vw; left: 12vw; bottom: 0.5vw; opacity: 0">
                <img src="./static/img/boba.png" style="width: 100%; height: auto">
              </div>
            </div>
          </div>
          <div style="display: flex; flex: 1; margin-top: 1vmin" class="bottom">
            <div style="flex: 1.5; position: relative" class="comp-inline">
              <div class="straw" style="width: 6vw; height: 14vw; top: 0; right: 11vw; border-radius: 2vw 2vw 0 6vw">
              </div>
              <div class="straw" style="width: 15vw; height: 6vw; top: 8vw; right: 2vw; border-radius: 0 2vw 2vw 6vw">
              </div>
              <div id="bobabl" style="position: absolute; width: 4vw; height: 4vw; right: 12vw; top: 1vw; opacity: 0">
                <img src="./static/img/boba.png" style="width: 100%; height: auto">
              </div>
            </div>
            <div style="display: flex; flex: 2">
              <div style="display: inline-block; position: relative">
                <textarea class="text-box small-box" readonly id="cn" name="cn" placeholder="Mandarin translation will appear here...">{{mandarin}}</textarea>
                <button class="nothing blank-button" onmouseover="pencilOn(1)" onmouseout="pencilOut(1)" type="button"><h3 class="pencil" onclick="editText(1)">修正</h3></button>
                <p class="info" style="display: block; font-family: sans-serif">{{pinyin}}</p>
                <div class="submit-shadow submit-bt2"></div>
                <button class="submit-button submit-bt2" onmouseover="submitMOV(1)" onmouseout="submitMOU(1)" type="submit" onclick="submitEdit(1)">
                  <h3 class="submit-text">Submit</h3>
                </button>
              </div>
            </div>
            <div style="flex: 1.5; position: relative" class="comp-inline">
              <div class="straw" style="width: 18vw; height: 6vw; border-radius: 2vw; left: 1vw; top: 8vw">
                <div id="bobab" style="position: absolute; width: 4vw; height: 4vw; left: 1vw; top: 1vw; opacity: 0">
                  <img src="./static/img/boba.png" style="width: 100%; height: auto">
                </div>
              </div>
            </div>
            <div style="display: flex; flex: 2">
              <div style="display: inline-block; position: relative">
                <textarea id="tw" name="tw" style="display: none">{{romanization}}</textarea>
                <textarea class="text-box small-box" readonly id="ro" name="ro" placeholder="Taiwanese romanization will appear here..." style="font-family: sans-serif">{{romanization}}</textarea>
                <button class="nothing blank-button" onmouseover="pencilOn(2)" onmouseout="pencilOut(2)" type="button">
                <img class="pencil" src="./static/img/pencil.png" onclick="editText(2)" style="display: none"></button>
                <p class="info">Click <button class="nothing" type="submit" onclick="goRome()">here</button> to learn about the romanization system.</p>
                <div class="submit-shadow submit-bt2"></div>
                <button class="submit-button submit-bt2" onmouseover="submitMOV(2)" onmouseout="submitMOU(2)" type="submit" onclick="submitEdit(2)">
                  <h3 class="submit-text">Submit</h3>
                </button>
                <div class="callout" style="display: none; max-width: 15vmax">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
                  <div class="callout-container">
                    <h3>Note!</h3>
                    <textarea id="toggle" style="display: none">{{toggle_note}}</textarea>
                    <p style="font-family: sans-serif">{{note}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="phone-only" style="flex: 1;">
              <div style="flex: 1; position: relative">
                <div class="drink-straw drink-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
                <div class="drink-straw"></div>
                <div class="drink drink-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
                <div class="drink"></div>
                <div class="drink-box" onmouseover="drinkMOV()" onmouseout="drinkMOU()" onclick="changeFlavor()">
                  <p class="flavor-text">
                    Brown Sugar Milk Tea
                  </p>
                </div>
              </div>
              <div style="flex: 1">
                <div class="speech-button speech-shadow" style="box-shadow: 0.8vw 0.8vw rgb(60, 20, 0);"></div>
                <div class="speech-button" onmouseover="speechMOV()" onmouseout="speechMOU()" onclick="playSound(`{{hour}}`, {{key}}, 0)">
                  <p style="font-size: 4vw; margin-bottom: 2vh; font-family: Choko">Play Audio</p>
                  <img src="./static/img/audio.png" style="display: block; width: 10vw; height: 10vw; margin-left: auto; margin-right: auto; margin-top: 0">
                </div>
                <div class="slider-box">
                  <input type="range" min="1" max="15" value="5" class="slider" onchange="update(1)">
                  <h3 class="speed" style="display: flex; flex: 1; margin-top: 1vmin">1x</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="./static/index.js"></script>
  <script type="text/javascript">
    function update(index){
      let speed = document.getElementsByClassName("slider")[index].value;
      document.getElementsByClassName("slider")[1].value = speed;
      document.getElementsByClassName("slider")[0].value = speed;
      document.getElementsByClassName("speed")[0].innerHTML = speed / 5 + "x";
      document.getElementsByClassName("speed")[1].innerHTML = speed / 5 + "x";
    }
    function playSound(hour, key, file) {
      let play = document.getElementById('play').innerHTML;
      let file_count = document.getElementById('file_count').innerHTML;
      if (file == 0) {
        document.getElementsByClassName("speech-shadow")[0].style.display = "none";
        document.getElementsByClassName("speech-shadow")[1].style.display = "none";
      }
      if ((file > 0 && file < file_count) || (file == 0 && play == 0)) {
        console.log(`./static/${hour}_${key}_${file}.wav`)
        let speed = document.getElementsByClassName("slider")[0].value;
        var audio = new Audio(`./static/${hour}_${key}_${file}.wav`);
        audio.load();
        audio.playbackRate = speed / 5;
        audio.play();
        play = 1
        document.getElementById('play').innerHTML = play;
        audio.onended = () => {
          playSound(hour, key, file + 1)
        };
      }
      if (file == file_count) {
        document.getElementsByClassName("speech-shadow")[0].style.display = "block";
        document.getElementsByClassName("speech-shadow")[1].style.display = "block";
        play = 0;
        document.getElementById('play').innerHTML = play;
      }
    }

    function setColors() {
      let toggle_note = document.getElementById("toggle").innerHTML;
      if (toggle_note == "True"){
        document.getElementsByClassName("callout")[1].style.display = 'block';
      }
      
      let flav = document.getElementById("color").innerHTML;
      document.getElementById("background").style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("callout-container")[0].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("callout-container")[1].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("flavor-text")[0].innerHTML = flavColors[flav - 1][2] + " Milk Tea";
      document.getElementsByClassName("flavor-text")[1].innerHTML = flavColors[flav - 1][2] + " Milk Tea";
      document.getElementById("color").innerHTML = flav;

      var drinks = document.getElementsByClassName("drink");
      for (var i = 0; i < drinks.length; i++) {
        drinks[i].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      }
      document.getElementsByClassName("drink-box")[0].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("drink-box")[1].style.backgroundColor = rgb(flavColors[flav - 1][0]);

      var drinkStraws = document.getElementsByClassName("drink-straw");
      for (var i = 0; i < drinkStraws.length; i++) {
        drinkStraws[i].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      }

      var speechButtons = document.getElementsByClassName("speech-button");
      for (var i = 0; i < speechButtons.length; i++) {
        speechButtons[i].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      }

      var straws = document.getElementsByClassName("straw");
      for (var i = 0; i < straws.length; i++) {
        straws[i].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      }
      var textboxes = document.getElementsByClassName("text-box");
      for (var i = 0; i < textboxes.length; i++) {
        textboxes[i].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      }

      var menus = document.getElementsByClassName("menu-button");
      for (var i = 0; i < menus.length; i++) {
        menus[i].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      }

      var pencils = document.getElementsByClassName("pencil");
      for (var i = 0; i < pencils.length; i++) {
        pencils[i].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      }

      document.getElementsByClassName("submit-bt")[0].style.display = "block";
      document.getElementsByClassName("submit-bt")[1].style.display = "block";

      document.getElementsByClassName("submit-button")[0].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("submit-button")[1].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      document.getElementsByClassName("submit-button")[2].style.backgroundColor = rgb(flavColors[flav - 1][0]);
      
      document.getElementsByClassName("slider")[0].style.backgroundColor = rgb(flavColors[flav - 1][1]);
      document.getElementsByClassName("slider")[1].style.backgroundColor = rgb(flavColors[flav - 1][1]);
    }

  </script>


</html>
