{% extends "base.html" %}

{% set title = "BobaWay | Tai-Ping" %}
{% set additional_css = ["styles/tai-ping.css"] %}
{% set additional_js = ["scripts/tai-ping.js"] %}
{% set og_description = "Easily type in Taiwanese!" %}

{% block extra_head %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (typeof start === 'function') {
      start();
    }
  });
</script>
{% endblock %}

{% block content %}
<div style="min-height: 100vh; display: flex; flex-direction: column;">
  <form id="mainform" name="mainform" action="{{ url_for("tai_ping")}}" method="post">
    <div>
      <textarea id="page" name="page" style="display: none">{{page}}</textarea>
      <textarea id="full" name="full" style="display: none">{{full}}</textarea>
      <textarea id="files" name="files" style="display: none">{{files}}</textarea>
      <textarea id="filename" name="filename" style="display: none">{{filename}}</textarea>
      <textarea id="og" name="og" style="display: none">{{og}}</textarea>
      <textarea id="ogg" name="ogg" style="display: none">{{ogg}}</textarea>
      <textarea id="endings" name="endings" style="display: none">{{endings}}</textarea>
      <textarea id="change" name="change" style="display: none">{{change}}</textarea>
      <textarea id="slider_val" name="slider_val" style="display: none">{{slider}}</textarea>
      <textarea id="prev" name="prev" style="display: none">{{prev}}</textarea>
      <textarea id="last" name="last" style="display: none">{{last}}</textarea>
      <div id="text_box" onclick="play()" name="text_box"><pre id="black">{{ogg}}</pre><pre id="red">{{og}}</pre><pre id="underline">{{change}}</pre><img src="{{ url_for('static', filename='img/copy.png') }}" class="copy" onclick="copyTextToClipboard()"></div>
      <div class="swap-direction">
        <div class="set">
          <button type="button" class="small-key" onclick="tone(0)">2</button>
          <button type="button" class="small-key" onclick="tone(1)">3</button>
          <button type="button" class="small-key" onclick="tone(2)">4</button>
          <button type="button" class="small-key" onclick="tone(3)">5</button>
          <button type="button" class="small-key" onclick="tone(4)">7</button>
          <button type="button" class="small-key" onclick="tone(5)">8</button>
        </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(0)">p</button>
        <button type="button" class="large-key" onclick="key(1)">ts</button>
        <button type="button" class="large-key" onclick="key(2)">t</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(3)">ph</button>
        <button type="button" class="large-key" onclick="key(4)">tsh</button>
        <button type="button" class="large-key" onclick="key(5)">th</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(6)">k</button>
        <button type="button" class="large-key" onclick="key(7)">ch</button>
        <button type="button" class="large-key" onclick="key(8)">s</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(9)">kh</button>
        <button type="button" class="large-key" onclick="key(10)">chh</button>
        <button type="button" class="large-key" onclick="key(11)">j</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(12)">b</button>
        <button type="button" class="large-key" onclick="key(13)">l</button>
        <button type="button" class="large-key" onclick="key(14)">m</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(15)">d</button>
        <button type="button" class="large-key" onclick="key(16)">g</button>
        <button type="button" class="large-key" onclick="key(17)">h</button>
      </div>
      <div class="set">
        <button type="button" class="large-key" onclick="key(18)">e</button>
        <button type="button" class="large-key" onclick="key(19)">n</button>
        <button type="button" class="large-key" onclick="key(20)">ng</button>
      </div>
  <div class="last-set">
    <div class="set">
    <div style="display: flex; flex-direction: row">
      <button type="button" class="large-key" onclick="key(21)">a</button>
        <button type="button" class="large-key" onclick="key(22)">i</button>
    </div>
    <div style="display: flex; flex-direction: row">
      <button type="button" class="large-key" onclick="key(23)">o</button>
        <button type="button" class="large-key" onclick="key(24)">u</button>
    </div>
    </div>
          <button type="button" class="medium-key" onclick="backspace()">BACKSPACE</button>
          <button type="button" class="medium-key" onclick="enter(0)">SPACE</button>
    <button type="button" class="medium-key" onclick="enter(1)">ENTER</button>
    <div class="slider-box">
      <input type="range" min="1" max="3" value="1" id="slider" name="slider" style="display: none">
       <img src="{{ url_for('static', filename='img/light-0.png') }}" class="arrow" style="float: left;" onclick="update(0)" disabled>
      <h3 id="level">Easy</h3>
      <img src="{{ url_for('static', filename='img/1.png') }}" class="arrow" style="float: right" onclick="update(1)"> 
     </div>
      </div>
    </div>
    </div>
  </form>
</div>
{% endblock %}