<!DOCTYPE html>
<html style="background-color: rgb(226, 199, 140)" id="background">

<head>
  <title>BobaWay</title>
  <link rel="stylesheet" href="./static/about_bobaway.css">
  <link rel="icon" type="image/x-icon" href="./static/flav_8.png" class="favicon">
  <link rel="apple-touch-icon" sizes="128x128" href="./static/flav_8.png" class="favicon">
</head>

<body class="body-pad" onload="redirect()">
  <p id="play" style="display: none">0</p>
  <div style="display: flex; flex-direction: column">
    <div style="display: flex; flex: 1" class="bottom">
      <a href="https://bobaway.taliyahhuang.repl.co/" style="display: flex; flex: 6">
        <h1 id="title">
          BobaWay
        </h1>
      </a>
      <div style="display: flex; flex-direction: row">
        <form action="{{ url_for("gfg")}}" method="post">
          <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(0)" type="submit">
              <h3>
                About
              </h3>
              <textarea id="path1" name="path" style="display: none">3</textarea>
          </button>
              </form>
        <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(1)">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdP1kMHJXToGtXX_SetKCaZ9E7J5OWDM2fuSyhEXaDIvHLvcA/viewform?usp=sf_link"
            target="_blank">
            <h3>
              Feedback
            </h3>
          </a>
        </button>
        <button class="menu-button" onmouseout="menuMOU()" onmouseover="menuMOV(2)">
          <a href="https://paypal.me/taliyah0x0" target="_blank">
            <h3>
              Donate
            </h3>
          </a>
        </button>
      </div>
    </div>
    <div style="display: flex; flex: 7; flex-direction: column">
        <form action="{{ url_for("gfg")}}" method="post" name="mainform" id="mainform">
        <h2 style="margin: none; padding: none">Help Validate A Translation!</h2>
        <p class="intro-text">As BobaWay translates your request, please help improve the accuracy of user-submitted translations.</p>
        <button type="submit" style="display: none"></button>
        <textarea name="path" style="display: none">6</textarea>
        <textarea name="key" id="key" style="display: none">{{key}}</textarea>
        <div class="flex-box" style="margin-left: auto; margin-right: auto; gap: 2vmax; align-items: top">
          <div style="display: flex; flex-direction: column; align-items: center">
            <p class="display-label">Mainland Chinese</p>
            <textarea readonly class="display-text" name="cn" id="cn">{{cn}}</textarea>
            <audio src="" controls id="audio-cn"></audio>
          </div>
          <div class="reverse-box">
            <img src="./static/arrow.png" class="arrow">
            <img src="./static/down.png" class="down">
            <div class="select-box">
              <h3 style="margin: 0 0 0.5vmax 0; padding: 0" class="select-title">Accurate?<br>正確？</h3>
              <div style="display: flex; gap: 0.5vmax">
                <textarea id="cn-tw" name="cn-tw" style="display: none">2</textarea>
                <button class="select-button" onclick="validate(0)" type="button">Yes</button>
                <button class="select-button" onclick="validate(1)" type="button">No</button>
              </div>
              <button class="select-button" onclick="validate(2)" type="button">Not Sure</button>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; align-items: center">
            <p class="display-label">Taiwanese Mandarin</p>
            <textarea readonly class="display-text" name="tw" id="tw">{{tw}}</textarea>
            <audio src="" controls id="audio-tw"></audio>
          </div>
          <div class="reverse-box">
            <img src="./static/arrow.png" class="arrow">
            <img src="./static/down.png" class="down">
            <div class="select-box">
              <h3 style="margin: 0 0 0.5vmax 0; padding: 0" class="select-title">Accurate?<br>正確？</h3>
              <div style="display: flex; gap: 0.5vmax">
                <textarea id="tw-ro" name="tw-ro" style="display: none">2</textarea>
                <button class="select-button" onclick="validate(3)" type="button">Yes</button>
                <button class="select-button" onclick="validate(4)" type="button">No</button>
              </div>
              <button class="select-button" onclick="validate(5)" type="button">Not Sure</button>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; align-items: center">
            <p class="display-label">Taiwanese</p>
            <textarea readonly class="display-text" name="ro" id="ro" style="font-family: sans-serif">{{ro}}</textarea>
            <audio src="" controls id="audio-ro" autoplay></audio>
          </div>
        </div>
        </form>
    </div>
</body>
<script type="text/javascript" src="./static/index.js"></script>

</html>